body {
    margin: 0px 75px 0px 75px;
    font-family:Arial, Helvetica, sans-serif;
}

.banner-image {
    border: thin solid black;
    height: 450px;
    width: 1000px;
    margin: 50px 0px 20px 0px;
    background-image: url("https://spaceplace.nasa.gov/gallery-space/en/NGC2336-galaxy.en.jpg");
}

.content {
    border: thin solid black;
    height: 324px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(224,224,224);
}

.article {
    margin: 20px;
}

p {
    color: darkgrey;
}